{% extends 'layout.html' %}
{% block content %}

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>


{% block javascript %}
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const labels = [];
    const data = {};

    // 从 Flask 视图函数中传递的数据
    const transactionData = JSON.parse('{{ transaction_data|tojson|safe }}');

    // 遍历交易记录,提取月份和 units
    transactionData.forEach(transaction => {
        const month = new Date(transaction.date).getMonth() + 1;
        const monthLabel = `${new Date(transaction.date).getFullYear()}-${month.toString().padStart(2, '0')}`;

        if (!data[monthLabel]) {
            data[monthLabel] = 0;
            labels.push(monthLabel);
        }

        data[monthLabel] += transaction.units;
    });

    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Units',
                data: Object.values(data),
                backgroundColor: 'rgba(75, 192, 192, 0.6)'
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock%}
{% endblock %}