{% extends 'layout.html' %}
{% block content %}
    
    <div class="col-sm-10 ml-auto mr-auto ">
        <H2>Inventory Overview</H2>
        <table class="table">
            <a class="nav-item nav-link" href="{{ url_for('add_item') }}">Add new item</a>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Unit Cost</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Minimum Stock Level</th>
                    <th scope="col">Supplier Information</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                        <tr>
                            <th scope="row">{{entry.item_id}}</th>
                            <td>{{entry.name}}</td>
                            <td>{{ entry.description }}</td>
                            <td>{{ entry.category }}</td>
                            <td>{{entry.unit_cost}}</td>
                            <td>{{ entry.unit_price }}</td>
                            <td>{{ entry.quantity }}</td>
                            <td>{{ entry.min_stock_level }}</td>
                            <td>{{ entry.supplier_information }}</td>
                            <td>{{ entry.notes }}</td>
                            <td><a href="{{ url_for('delete_item', item_id = entry.item_id) }}" class="btn btn-outline-danger btn-sm">Delete</a></td>
                        </tr>
                {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}

